{% extends 'extends.html' %}
{% load static %}
{% block title %}Invoice List{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static '/CSS/product.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-10 col-md-9 col-sm-9 page-col">
    
   <h2>Invoice List</h2>
   <div class="add-product">
    <div class="button p-4">
        <a href="" class="btn btn-add-product"><strong class="add-icon">+</strong> New Bill</a>
    </div>
   </div>
   {% if invoices %}
    <div class="table-div">
        <div class="table-responsive" >
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Invoice No</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for invoice in invoices %}
                    <tr>
                        <td class="text-nowrap">{{ forloop.counter }}</td>
                        <td class="text-nowrap">{{ invoice.invoice_no }}</td>
                        <td class="text-nowrap">{{ invoice.customer.fullname }}</td>
                        <td class="text-nowrap">{{ invoice.date }}</td>
                        <td class="text-nowrap">{{ invoice.total }}</td>
                        <td class="text-nowrap"><a href="{% url 'view_invoice' invoice.id %}" class="btn btn-product">View Invoice</a></td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        </div>
    </div>
   {% else %}
    <div class="else">
            <div class="p-4 text-center text-box">
            <h4>No Invoice found!</h4>
            </div>
    </div>
   {% endif %}
 

</div>
{% endblock %}