{% extends 'extends.html' %}
{% load static %}
{% block title %}New Invoice{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static '/CSS/product.css' %}">
<link rel="stylesheet" href="{% static '/CSS/invoice.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-10 col-md-9 col-sm-9 page-col">
    <div class="">
        <h2>New Invoice Creation</h2>
        <h4 class="back"><<a href="{% url 'invoices' %}">Back</a></h4>
        <div class="bg-white new-invoice">
            <div class="form-div p-4">
                <form action="">
                    <div class="row">
                        <div class="col-lg-6">
                                <div class="customer-details p-4">
                                    <h4>Customer Information:</h4>
                                    <div class="customer-btn">
                                        <button class="btn btn-success" onclick="new_customer()">New Customer</button>
                                        <button class="btn btn-primary"  onclick="exisiting_customer()">Existing</button>
                                    </div>
                                    <div class="new-customer-div p-4"  id="new-customer-div" style="display: none;">
                                        <div class="mb-3 ">
                                            <label for="fullname">Fullname *</label><br>
                                            <input type="text" id="fullname" name="fullname" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" >Phone Number *</label><br>
                                            <input type="text" id="phone" name="phone" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="address" >Address *</label><br>
                                            <textarea  name="address" id="address"></textarea>
                                        </div> 
                                    </div>
                                    <div class="existing-customer-div p-4" id="existing-customer-div" style="display: none;">
                                        <input  type="text" id="existing_customer" name="existing_customer" required>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                    <div class="row p-2">
                        <div class="product-details">
                            <div class="table-responsive ">
                                <table class="table table-bordered" id="table">
                                    <thead>
                                        <tr>
                                            <th><button  style="margin: 0px 5px;" class="btn btn-success btn-sm" onclick="add_tr()"><i class="fa-solid fa-plus"></i></button> Product</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th>Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="mb-3 d-flex">
                                                    <button type="button"  style="margin: 0px 5px;" class="btn btn-danger btn-sm"><i class="fa-solid fa-xmark"></i></button>
                                                    <input type="text" id="product" name="product" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="number" id="qty" name="qty" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="number" id="price" name="price" disabled>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="number" id="sub_total" name="sub_total" disabled>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          
                        </div>
                    </div>
                   
                    <div class="total-invoice-details">
                            <div class="right-div">
                                <p><strong>Total :</strong><input type="number" id="total" name="total" disabled></p>
                                <p><strong>Tax(5%) :</strong><input type="number" id="tax" name="tax" disabled></p>
                                <p><strong>Grand Total :</strong><input type="number" id="grand_total" name="grand_total" disabled></p>
                            </div>
                    </div>
                    <div class="submit-btn">
                        <button type="submit" class="btn-product btn w-100">Save Invoice</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static '/JS/invoice.js' %}"></script>
{% endblock %}