{% extends 'extends.html' %}
{% load static %}
{% block title %}Customers List{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static '/CSS/product.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-10 col-md-9 col-sm-9 page-col p-4">
    
   <h2>Customers List</h2>
   {% if customers %}
    <div class="table-div p-4">
        <div class="table-responsive" >
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Wallet</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for customer in customers %}
                    <tr>
                        <td class="text-nowrap">{{ customer.id }}</td>
                        <td class="text-nowrap">{{ customer.fullname }}</td>
                        <td class="text-nowrap">+91 {{ customer.phone }}</td>
                        <td class="text-nowrap">{{ customer.address }}</td>
                        <td class="text-nowrap">{{ customer.wallet }}</td>
                        <td class="text-nowrap">{% if customer.wallet < 0%}<a href="{% url 'edit_wallet' customer.id %}" class="btn btn-product">Edit</a> {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        </div>
    </div>
   {% else %}
    <div class="else">
            <div class="p-4 text-center text-box">
            <h4>No Customer found!</h4>
            </div>
    </div>
   {% endif %}
 

</div>
{% endblock %}