{% extends 'extends.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block link %}{% endblock %}
{% block content %}
<div class="col-lg-10 col-md-9 col-sm-9 page-col">gunhujkmmjjjjjjjjj
    cygvjhknml,
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>
    <div>
        
    fyguhjikl;  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia iure quae mollitia atque obcaecati dignissimos harum quasi vitae repellendus, eligendi deleniti enim, cupiditate, libero esse. Magnam esse iusto quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio quidem rerum cupiditate iste laudantium sapiente et magnam, illum aut dolorum atque porro earum officiis velit quis quo, soluta necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque ab officiis eos nostrum quis. Dolor at doloremque quis officiis natus, tenetur dicta suscipit odit iure eveniet consectetur ducimus vitae.
    </div>


</div>
{% endblock %}