{% extends 'extends.html' %}
{% load static %}
{% block title %}Update Product{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static '/CSS/product.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-10 col-md-9 col-sm-9 page-col">
    <div class="add-product-content">
        <h2>Update Product</h2>
        <h4 class="back"><<a href="{% url 'product_view' id %}">Back</a></h4>
        <div class="content p-4">
            <div class="box">
                <form class="update-product-form" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="product_id" class="form-label">Product ID *</label>
                                    <input type="text" class="form-control" id="product_id" name="product_id" value="{{ product.product_id }}" required disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name *</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label><br>
                                    <textarea name="description" id="description">{{ product.description }}</textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category</label>
                                    <input type="text" class="form-control" id="category" name="category" value="{{ product.category }}">
                                </div>
                                <div class="mb-3">
                                    <label for="stock" class="form-label">Stock *</label>
                                    <input type="number" class="form-control" id="stock" name="stock" value="{{ product.stock }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Price *</label>
                                    <input type="number" class="form-control" id="price" name="price" value="{{ product.price }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label">Current Image:</label><br>
                                    <!-- Display the existing image -->
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="Product Image" style="width: 50px; height: 50px; margin-bottom: 10px;">
                                    {% else %}
                                        <p>No image available</p>
                                    {% endif %}
                            
                                    <!-- Upload new image -->
                                    <br>
                                    <label for="image" class="form-label">Upload New Image:</label>
                                    <input type="file" class="form-control-file" id="image" name="image">
                                </div>
                                
                            </div>
                    </div>
                    <div class="add-product-btn">
                        <button type="submit" class="btn btn-product-submit">Submit</button>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}